
<%#= react_component("Todo", { 
  greeting: "Hello from TODO react-rails.",
  test: "loureed",
  path: new_todo_path
}) %>

<%= react_component("Test", { todos: @todo }) %>
<%#f= react_component("Todos", { todos: @todo }) %>
<%# @todo.each do |t| %>
<!--  <div>
    <h3><%#= t.title %></h3>
    <p><%#= simple_format(t.content)%></p>
    <p>作成：<%#= t.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
    <p>更新：<%#= t.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
    <button>detail</button>
    <%#= link_to "edit", edit_todo_path(t.id), class: 'btn btn-default' %>
    <%#= link_to 'del', todo_path(t.id), :method => :delete, data: { confirm: "are you sure?" } %>
  </div>-->
<%# end %>